name: 'Build and publish application'

on:
  push:
    branches:
      - develop
      - main
      - 'release/**'
      - 'feature/**'
      - 'hotfix/**'
      - 'copilot/**'
    paths-ignore:
      - 'README.md'
      - 'docs/*'
      - 'scripts/*'
      - '.vscode/*'

permissions:
  checks: write
  contents: write
  pull-requests: write
  actions: read

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  NUGET_CERT_REVOCATION_MODE: offline
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
  PUBLISH_CODECOV: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/heads/develop') || startsWith(github.ref, 'refs/heads/main')

jobs:
  net-compile:
    name: .NET compile

    runs-on: ubuntu-latest

    steps:
    - name: Checkout sources
      uses: actions/checkout@v6
      with:
        clean: false

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: Restore NuGet packages
      run: dotnet restore --verbosity minimal

    - name: Build .NET solution
      run: dotnet build --configuration Release --no-restore

    - name: Archive test artifacts
      run: git ls-files ./test/ --others  | grep -v -e runtimes/win -e runtimes/maccatalyst -e runtimes/osx -e runtimes/linux-musl -e runtimes/linux-mips64 -e runtimes/linux-ppc64le -e runtimes/runtimes/linux-s390x -e runtimes/browser-wasm -e EmptyFiles -e /BuildHost- | tar -cf test-compile-artifacts.tar -T -

    - name: Upload test artifacts
      uses: actions/upload-artifact@v6
      with:
        name: test-compile-artifacts
        path: |
          ./test-compile-artifacts.tar

  net-test:
    name: .NET tests
    runs-on: ubuntu-latest
    needs: [ net-compile ]

    steps:
    - name: Checkout sources
      uses: actions/checkout@v6

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: Download compile artifacts
      uses: actions/download-artifact@v7
      with:
        name: test-compile-artifacts

    - name: Unzip compile artifacts
      run: tar -xvp -f test-compile-artifacts.tar

    - name: Run .NET tests
      run: find . -type f -executable -print

    - name: Upload test results
      uses: actions/upload-artifact@v6
      with:
        name: net-test-results
        path: |
          ./**/*.trx
          ./**/coverage.cobertura.xml
